[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
scipy = "*"
sympy = "*"
matplotlib-venn = "*"
requests = "*"
tqdm = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
